html, body {
    overscroll-behavior: none;
}

.text-muted{
    color: #333;
    font-size: 0.666rem;
}

.v-badge.empty {
    & .v-badge__badge{
        display: none !important;
    }
}

.v-toolbar{
    &-title{
        &:has(.text-muted){
            line-height: 1.125;
        }
    }
    &.bg-primary{
        & .text-muted{
            color: #fff;
            opacity: 0.8;
        }
    }
}

@media only screen and (max-width: 600px) {
    .v-data-table {
        & table {
            font-size: 0.65rem;
            line-height: 1.115;
            & tr {
                & > td{
                    padding: 0 8px !important;
                    & .v-chip{
                        font-size: 0.65rem;
                    }
                }
            }
        }
    }
}